* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#container {
    width: 48rem;
    display: flex;
    flex-wrap: wrap;
    
}

div#container > div {
    border: 1px solid coral;
    flex-shrink: 0;
}