* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    background-color: #d8d6d6;
}

div#container {
    width: 48rem;
    display: flex;
    flex-wrap: wrap;
    
}

div#container > div {
    border: 1px solid black;
    flex-shrink: 0;
}

button {
    outline: none;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #c08009;
    color: white;
    font-weight: bold;
}